# MySQL Database Configuration
DB_HOST=localhost
DB_PORT=3306
DB_USER=root
DB_PASSWORD=
DB_NAME=bus_ticketing

# Razorpay Configuration
RAZORPAY_KEY_ID=rzp_test_TRERJ9RO8gmVih
RAZORPAY_KEY_SECRET=9w31CkmZ3dqkE1ClZDT9z1Mm

